In [1]:
import pandas as pd 
import numpy as np

In [4]:
df=pd.read_csv(r"C:\Users\A22201\Desktop\DSTraining\datasets\weather_forecast.csv")

In [21]:
df

     Outlook Temperature Humidity   Windy Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

In [6]:
class Naives:
    def __init__(self,df):
        self.df=df
    def probability(self,v1, v2, y):
        count1 = 0
        count2 = 0
        count3 = 0
        for index,row in self.df.iterrows():
            if row["Column1"] == v1:
                count1 += 1
            if row["Column2"] == v2:
                count2 += 1  
            if row["Pred"] == y:
                count3 += 1
        naive = count3/df.shape[0] * count1 / count3 * count2 / count3
        
        print(f"Count1: {count1}, Count2: {count2}, Count3: {count3}")
        print(f"Probability: {naive}")
    
v1 = "Sunny"
v2 = "Hot"
y = "No"
y2="Yes"
probability(df, v1, v2, y2)

In [20]:
def probability(df, v1, v2, y):
    count1 = 0
    count2 = 0
    count3 = 0
    for index,row in df.iterrows():
        if row["Outlook"] == v1:
            count1 += 1
        if row["Temperature"] == v2:
            count2 += 1  
        if row["Play"] == y:
            count3 += 1
    naive = count3/df.shape[0] * count1 / count3 * count2 / count3
    
    print(f"Count1: {count1}, Count2: {count2}, Count3: {count3}")
    print(f"Probability: {naive}")
    
v1 = "Sunny"
v2 = "Hot"
y = "No"
y2="Yes"
probability(df, v1, v2, y2)

Count1: 5, Count2: 4, Count3: 9
Probability: 0.15873015873015872

In [24]:
class naivye:
 
  def __init__(self,X,y):
    self.X = X
    self.y = y
 
  def predict(self,feature):
    j = self.y.value_counts()
    pk = {}
    for i,k in zip(j.index,j.values):
      pk[i]=k/sum(j.values)
    res = {}
    for q in pk.keys():
      h = 1
      for n,p in zip(self.X.columns,feature):
        g = self.y[self.X[n]==p]
        h = h*(g[g==q].count()/len(g))
      res[q]=pk[q]* h
    final_res ={}
    for i in res.keys():
      final_res[i] = res[i]/sum(res.values())
    l1 = list(final_res.keys())
    l2 = list(final_res.values())
    return l1[l2.index(max(l2))]
nv=naivye(df.iloc[:,:-1],df["Play"])

In [ ]:
class naivye:
 
  def __init__(self,X,y):
    self.X = X
    self.y = y
 
  def predict(self,feature):
    j = self.y.value_counts()
    pk = {}

In [28]:
nv.predict(["Rainy","Hot"])

C:\Users\A22201\AppData\Local\Temp\ipykernel_22496\41430748.py:17: RuntimeWarning: invalid value encountered in scalar divide
  h = h*(g[g==q].count()/len(g))

'Yes'

In [29]:
from sklearn.naive_bayes import MultinomialNB

In [30]:
ml=MultinomialNB()

In [34]:
df = pd.read_csv("https://raw.githubusercontent.com/singhrau0/Big-Data-Preprocessing/main/loan_train.csv")
df.head(4)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y

In [35]:
x=df[["Education","ApplicantIncome"]]
y=df["Loan_Status"]
x["Education"].replace({"Graduate":1,"Not Graduate":0},inplace=True)

C:\Users\A22201\AppData\Local\Temp\ipykernel_22496\1004075670.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Education"].replace({"Graduate":1,"Not Graduate":0},inplace=True)

In [36]:
ml.fit(x,y)

MultinomialNB()

In [40]:
ml.predict([[1,4500.0]])

C:\Users\A22201\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array(['Y'], dtype='<U1')