In [4]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_excel("files/Titanic.xlsx")
data.head()

fetch all the rows that are divisible 2 and 3 but not 6

In [ ]:
def lockin(data):
  if data.iloc[::]%2==0 or data.iloc[::]%3==0 and data.iloc[::]%6!=0 :
    return data

In [ ]:
data.loc[list(filter(lambda x:x %2==0 or x%3==0 and x%6!=0 , range(0,891)))]

In [ ]:
ds=data.iloc[[i for i in range(0,891) if '6' not in str(i) and '7' not in str(i)]]
ds.iloc[0:,-1:-3:-1]

In [ ]:
#data.loc[list(filter[lambda x:((x%10)!=6) & ((x%10)!=7),range(0,891)]),["Name","Gender"]]

In [ ]:
data.columns

get all the columns which stated with p

In [ ]:
d=data[data["Gender"]=="male"]
d[d["Age"]<18]

In [ ]:
data[(data["Gender"]=="male") & (data["Age"]<18)]

get male data who survied

In [ ]:
data[(data["Gender"]=="male") & (data["Survived"]==1)]

In [ ]:
data[(data["Gender"]=="female") & (data["Survived"]==0)]

In [ ]:
sur=data[(data["Gender"]=="male") & (data["Survived"]==1)]
males=data[data["Gender"]=="male"]

per=(len(sur)/len(males))*100
per

In [ ]:
len(males)

In [ ]:
fsr=data[(data["Gender"]=="female") & (data["Survived"]==1)]

females=data[data["Gender"]=="female"]
fper=(len(fsr)/len(females))*100
fper

In [ ]:
one=data[(data["Pclass"]==1) & (data["Survived"]==1)]

Sur=data[data["Pclass"]==1]
sper=(len(one)/len(Sur))*100
sper

In [ ]:
Two=data[(data["Pclass"]==2) & (data["Survived"]==1)]

Sur=data[data["Pclass"]==2]

sper=(len(Two)/len(Sur))*100
sper

In [ ]:
Three=data[(data["Pclass"]==3) & (data["Survived"]==1)]

Sur=data[data["Pclass"]==3]

sper=(len(Three)/len(Sur))*100
sper

In [ ]:
data[data["Name"].str.contains("Mrs")]

In [ ]:
for i in data["Name"]:
  if "Mrs" in i:
    print(i)

In [ ]:
data[list(map(lambda x:x.__contains__("Mrs"),data["Name"]))]

In [ ]:
l=list(filter(lambda x:x.__contains__("(" ),data["Name"]))
ls=[]
for i in l:
  x=i.index("(")
  y=i.index(")")
  ls.append(i[x+1:y-1])
ls

In [ ]:
for i in data["Name"]:
  if "(" in i:
    print(i)

In [ ]:
data["Name"].str.upper()

In [ ]:
data["Name"].str.split("(").str[0].str.capitalize().str.split()

In [ ]:
data["Name"].str.replace("(","{").str.replace(")","}")

In [ ]:
data["Name"].str.len()

In [ ]:
data1=data.copy()
data1.loc[data1["Age"]>50,"Age"]=70
data1[data1["Age"]>50]

In [ ]:
d=data["Gender"]=="male"
data.loc[d,'Fare'] =data.Fare* (1.1)
data

In [ ]:
#decrease female fare first clas by 20

In [ ]:
#d=data[(data["Gender"]=="female") & (data["Pclass"]==1)]
data.loc[(data["Gender"]=="female") & (data["Pclass"]==1),'Fare'] =data.Fare* (.8)
data

get all the data which does not cotain miss word

In [ ]:
l=data[data['Name'].str.contains("Miss.")]
ls=[]
for i in l:
  for j in data["Name"]:
    if i !=j:
      ls.append(j)
ls

In [ ]:
data[~data["Name"].str.contains("Miss")]

1. How many passengers were on the Titanic, and how many survived?

In [ ]:
data["Survived"].count()

In [ ]:
data["Survived"].value_counts()

In [ ]:
total_num=data.shape[0]
sur=len(data[data["Survived"]==1])
print(total_num,sur)

2. What is the average age of passengers on the Titanic?

In [ ]:
data["Age"].mean()

3. What was the distribution of passenger classes (1st, 2nd, 3rd)?

In [ ]:
data["Pclass"].value_counts(normalize=True)

4. How many male and female passengers were on the Titanic?

In [ ]:
data["Gender"].value_counts(normalize=True)

In [ ]:
x="fgrhgjn"
x[0]

In [ ]:
data["Ticket"].nunique()