In [131]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.3)

[notice] A new release of pip is available: 23.3.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [132]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [133]:
df = pd.read_excel("files/superstore-subset.xlsx")
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

1. Find out Loss Making Products Region-wise.

In [134]:
def LossMakingProductss(data, columns, value, sortColumns, orderlist, aggfunc):
    dataFrame = data.groupby(columns).agg({
        value: aggfunc
    })
    LossMakingProducts = dataFrame[dataFrame[value] < 0].sort_values(by=sortColumns , ascending=orderlist).reset_index()
    return LossMakingProducts
LossMakingProducts= LossMakingProductss(df, ['Region','Product Name'], 'Profit', ['Region', 'Profit'], [True, True], 'sum')
LossMakingProducts

       Region                                       Product Name       Profit
0     Central                  Epson DFX-8500 Dot Matrix Printer -13020.31560
1     Central  Riverside Palais Royal Lawyers Bookcase, Royal...  -8939.52020
2     Central          Global High-Back Leather Tilter, Burgundy  -8650.98908
3     Central                  Epson DFX5000+ Dot Matrix Printer  -5416.45637
4     Central                 Hoover Portapower™ Portable Vacuum  -5078.70446
...       ...                                                ...          ...
1833     West          Sanford Colorific Colored Pencils, 12/Box     -1.31840
1834     West                                   Staples Pushpins     -0.51200
1835     West           Acco Suede Grain Vinyl Round Ring Binder     -0.40250
1836     West  Tenex Personal Project File with Scoop Front D...     -0.33264
1837     West                                         Newell 326     -0.27896

[1838 rows x 3 columns]

2. Which Product is the Highest Loss Making in the East Region?

In [135]:
HighestLossMakingProductInEastRegion= LossMakingProducts[LossMakingProducts['Region'] == 'East'].head(1).reset_index()
print(f"Highest Loss Making Product In East Region: {HighestLossMakingProductInEastRegion['Product Name'][0]}, with {HighestLossMakingProductInEastRegion['Profit'][0]}.")

Highest Loss Making Product In East Region: Global High-Back Leather Tilter, Burgundy, with -9983.38448.

3. What are the Technology Products that are not able to make a Profit?

In [137]:
LossMakingTechnologyProducts= LossMakingProductss(df[df['Product Category'] == 'Technology'], ['Region','Product Name'], 'Profit', ['Region', 'Profit'], [True, True], 'sum')
LossMakingTechnologyProducts

      Region                                   Product Name        Profit
0    Central              Epson DFX-8500 Dot Matrix Printer -13020.315600
1    Central              Epson DFX5000+ Dot Matrix Printer  -5416.456370
2    Central          Canon imageCLASS 2200 Advanced Copier  -3285.496840
3    Central        Okidata ML395C Color Dot Matrix Printer  -2816.337900
4    Central   Okidata ML591 Wide Format Dot Matrix Printer  -1739.101116
..       ...                                            ...           ...
332     West  Imation 3.5" IBM-Formatted Diskettes, 10/Pack    -27.130000
333     West               Microsoft Natural Keyboard Elite     -9.963200
334     West               Canon F603 Scientific Calculator     -8.419164
335     West                        Acco Keyboard-In-A-Box®     -6.340000
336     West                     Belkin ErgoBoard™ Keyboard     -3.130400

[337 rows x 3 columns]

4. Determine the total loss per Category and Sub-Category.

In [138]:
lossPerSubCategory = LossMakingProductss(df, ['Product Category','Product Sub-Category'], 'Profit', ['Profit'], [True],'sum')
lossPerSubCategory[lossPerSubCategory["Profit"] < 0]

  Product Category           Product Sub-Category        Profit
0        Furniture                         Tables -72495.061875
1        Furniture                      Bookcases  -7708.748564
2  Office Supplies                   Rubber Bands  -2841.722459
3  Office Supplies  Scissors, Rulers and Trimmers  -1936.849120

5. Identify the Region with the highest total loss.

In [139]:
LossMakingProducts= LossMakingProductss(df, ['Region'], 'Profit', ['Profit'], [True], 'sum')
LossMakingProducts

Empty DataFrame
Columns: [Region, Profit]
Index: []

6. Find the top 5 loss-making products in the South Region.

In [140]:
Top5LossMakingProductsInSouthRegion= LossMakingProductss(df[df['Region'] == 'South'], ['Region','Product Name'], 'Profit', ['Profit'], [True], 'sum').head()
Top5LossMakingProductsInSouthRegion

  Region                                       Product Name       Profit
0  South                                               5165 -16375.34800
1  South                Large Capacity Hanging Post Binders -13813.53498
2  South                                3M Organizer Strips  -6861.67160
3  South  Fellowes Strictly Business® Drawer File, Lette...  -5862.18390
4  South        Dixon Ticonderoga Core-Lock Colored Pencils  -5552.98110

7. List the Sub-Categories in the Central Region that are making a loss.

In [141]:
LossMakingProductsInCentralRegion= LossMakingProductss(df[df['Region'] == 'Central'], ['Region','Product Sub-Category'], 'Profit', ['Profit'], [True], 'sum')['Product Sub-Category']
list(LossMakingProductsInCentralRegion)

['Bookcases',
 'Tables',
 'Scissors, Rulers and Trimmers',
 'Storage & Organization']

8. Which Manufacturer (based on a hypothetical 'Manufacturer' column) has the highest total loss?

9. Find the average loss per product in the West Region.

In [142]:
AverageLossMakingProductsInWestRegion= LossMakingProductss(df[df['Region'] == 'West'], ['Region','Product Name'], 'Profit', ['Profit'], [True], 'mean')
AverageLossMakingProductsInWestRegion

    Region                                       Product Name       Profit
0     West   Polycom ViewStation™ ISDN Videoconferencing Unit -8892.529782
1     West  Okidata Pacemark 4410N Wide Format Dot Matrix ... -6623.862972
2     West                  Epson DFX-8500 Dot Matrix Printer -5520.626064
3     West              Canon imageCLASS 2200 Advanced Copier -4425.424800
4     West                  Epson DFX5000+ Dot Matrix Printer -2561.323500
..     ...                                                ...          ...
440   West     Eldon® Expressions™ Wood Desk Accessories, Oak    -0.431060
441   West           Acco Suede Grain Vinyl Round Ring Binder    -0.402500
442   West     Peel & Seel® Recycled Catalog Envelopes, Brown    -0.225950
443   West  Tenex Personal Project File with Scoop Front D...    -0.083160
444   West                                         Newell 326    -0.069740

[445 rows x 3 columns]

In [144]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

10. Identify the Segment with the highest average loss per order.

In [154]:
AverageLossperOrder= LossMakingProductss(df, ['Customer Segment','Order ID'], 'Profit', ['Profit'], [True], 'mean')
HighestAvgLossperOrderSegment= LossMakingProductss(AverageLossperOrder, ['Customer Segment'], 'Profit', ['Profit'], [True], 'max').head(1)
HighestAvgLossperOrderSegment

  Customer Segment  Profit
0      Home Office  -0.468

11. What is the total loss for each Region and Segment combination?

In [159]:
lossforEachComboOfRegionAndSegment= LossMakingProductss(df, ['Region', 'Customer Segment'], 'Profit', ['Profit'], [True], 'sum')
lossforEachComboOfRegionAndSegment

Empty DataFrame
Columns: [Customer Segment, Profit]
Index: []

12. Which Category has the highest average loss per sale in the East Region?

In [165]:
AverageLossperOrder= LossMakingProductss(df[df['Region'] == 'East'], ['Product Category'], 'Sales', ['Sales'], [True], 'mean')
AverageLossperOrder

Empty DataFrame
Columns: [Product Category, Sales]
Index: []

13. Find the loss-making products that have been ordered more than 5 times.

In [180]:
productStats = df.groupby('Product Name').agg({
    'Product Name': 'count',
    'Profit': 'sum'
}).rename(columns= {'Product Name':'Repeated count'})
LossMakingproducts= productStats[productStats['Repeated count'] > 4]
LossMakingproductsThatHaveBeenOrderedMoreThan5Times=LossMakingproducts[LossMakingproducts['Profit'] < 0].reset_index()
LossMakingproductsThatHaveBeenOrderedMoreThan5Times

,Product Name,Repeated count,Profit
0,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",18,-888.757800
1,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",9,-1288.400800
2,*Staples* Letter Opener,5,-601.717600
3,3M Organizer Strips,13,-7761.392914
4,4009® Highlighters by Sanford,6,-441.358800
...,...,...,...
386,Xerox 227,13,-2.701940
387,Xerox 23,14,-489.299120
388,Xerox 4200 Series MultiUse Premium Copy Paper ...,10,-973.602160
389,Zebra Zazzle Fluorescent Highlighters,5,-441.442160
390,iDENi80s,5,-471.229440

14. Determine the month and year with the highest total loss

In [184]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month
HighestTotalLossMonthAndYear= LossMakingProductss(df, ['Year', 'Month'], 'Profit', ['Profit'], [True], 'sum').head(1)
HighestTotalLossMonthAndYear

   Year  Month        Profit
0  2010      3 -30364.881147

15. Identify the top 3 loss-making products that have the highest discount applied.

In [186]:
df15 = LossMakingProductss(df, ['Product Name', 'Discount'], 'Profit', ['Discount'], [False], 'sum').head(3)
df15

   Discount                                       Product Name   Profit
0      0.25  Lesro Sheffield Collection Coffee Table, End T... -481.041
1      0.21                GE 4 Foot Flourescent Tube, 40 Watt  -17.750
2      0.17                       Tensor Computer Mounted Lamp   -9.130

In [ ]:
df150 = df[['Product Name','Discount']]
df_merge = pd.merge(df15,df150, on = 'Product Name')
result = df_merge[df_merge['Profit']< 0].sort_values(by = 'Discount', ascending = False).head(3)
result

In [ ]:
df15 = df[['Product Name','Profit','Discount']].groupby('Product Name').sum().sort_values(by = ['Profit','Discount'], ascending = [True,False])
df15.head(3)