In [88]:
import pandas as pd

In [89]:
df = pd.read_excel("superstore-subset.xlsx")

In [90]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [91]:
import numpy

In [92]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

1. Find out Loss Making Products Region-wise.

In [93]:
df[['Product Name','Region','Profit']].groupby(['Product Name','Region']).sum().sort_values(by = 'Profit', ascending = True)

                                                                  Profit
Product Name                                       Region
Okidata Pacemark 4410N Wide Format Dot Matrix P... West    -39743.177832
Polycom ViewStation™ ISDN Videoconferencing Unit   West    -35570.119128
Epson DFX-8500 Dot Matrix Printer                  West    -16561.878192
5165                                               South   -16375.348000
Large Capacity Hanging Post Binders                South   -13813.534980
...                                                                  ...
Canon PC940 Copier                                 West     18753.946500
Fellowes PB500 Electric Punch Plastic Comb Bind... Central  18889.343400
Riverside Palais Royal Lawyers Bookcase, Royale... West     19963.200600
Global Troy™ Executive Leather Low-Back Tilter     West     20657.398800
                                                   East     40885.928200

[3976 rows x 1 columns]

2. Which Product is the Highest Loss Making in the East Region?

In [94]:
EastRegion = df[df['Region'] == 'East']
df1 = EastRegion[['Product Name','Region','Profit']].groupby(['Product Name','Region']).sum().sort_values(by = 'Profit', ascending  = True)
df1.head(1)

                                                      Profit
Product Name                              Region
Global High-Back Leather Tilter, Burgundy East   -9983.38448

3. What are the Technology Products that are not able to make a Profit?

# Step 1

In [95]:
df['Product Category'].value_counts()

Product Category
Office Supplies    5181
Technology         2312
Furniture          1933
Name: count, dtype: int64

# Step 2

In [96]:
TechProduct = df[df['Product Category'] == 'Technology']
df2 = TechProduct[['Product Name', 'Profit']].groupby('Product Name').sum().sort_values(by = 'Profit', ascending = True)
df20 = df2[df2['Profit']<=0]
df20

                                                          Profit
Product Name
Okidata Pacemark 4410N Wide Format Dot Matrix P... -39743.177832
Polycom ViewStation™ ISDN Videoconferencing Unit   -36446.423528
Epson DFX-8500 Dot Matrix Printer                  -29557.665792
Epson DFX5000+ Dot Matrix Printer                   -7960.523870
Polycom ViewStation™ Adapter H323 Videoconferen...  -7374.195644
...                                                          ...
Imation 3.5", RTS 247544 3M 3.5 DSDD, 10/Pack         -38.146000
Acco Keyboard-In-A-Box®                               -29.160000
Epson FX-2180 Wide Format Dot Matrix Printer          -28.350000
Belkin 105-Key Black Keyboard                         -13.073100
Accessory29                                           -11.973888

[78 rows x 1 columns]

4. Determine the total loss per Category and Sub-Category.

In [97]:
df4 = df[['Product Category','Product Sub-Category','Profit']].groupby(['Product Category', 'Product Sub-Category']).sum().sort_values(by = 'Profit', ascending = True)
df4

                                                        Profit
Product Category Product Sub-Category
Furniture        Tables                          -72495.061875
                 Bookcases                        -7708.748564
Office Supplies  Rubber Bands                     -2841.722459
                 Scissors, Rulers and Trimmers    -1936.849120
                 Pens & Art Supplies               1195.902840
                 Storage & Organization            8078.804727
                 Labels                           17775.320505
                 Paper                            35361.621738
                 Envelopes                        46133.223840
Technology       Computer Peripherals             87917.842513
Furniture        Office Furnishings               92209.225867
Office Supplies  Appliances                      121651.391380
Technology       Copiers and Fax                 129156.684030
Furniture        Chairs & Chairmats              165348.882760
Technology       Office Machines                 168072.833340
Office Supplies  Binders and Binder Accessories  226572.523042
Technology       Telephones and Communication    297950.524866

5. Identify the Region with the highest total loss.

In [111]:
df5 = df[['Region','Profit']].groupby('Region').sum().sort_values(by = 'Profit', ascending = True)
df5.head(1)

              Profit
Region
South   104201.19242

6. Find the top 5 loss-making products in the South Region.

In [99]:
southRegion = df[df['Region'] == 'South']
df6 = southRegion[['Region','Product Name','Profit']].groupby(['Region','Product Name']).sum().sort_values(by = 'Profit', ascending = True)
df6.head(5)

                                                                Profit
Region Product Name
South  5165                                               -16375.34800
       Large Capacity Hanging Post Binders                -13813.53498
       3M Organizer Strips                                 -6861.67160
       Fellowes Strictly Business® Drawer File, Letter...  -5862.18390
       Dixon Ticonderoga Core-Lock Colored Pencils         -5552.98110

7. List the Sub-Categories in the Central Region that are making a loss.

In [103]:
CentralRegion = df[df['Region'] == 'Central']
df7 = CentralRegion[['Region','Product Sub-Category','Profit']].groupby(['Region','Product Sub-Category']).sum().sort_values(by = 'Profit', ascending = True)
df70 = df7[df7['Profit']<=0]
df70

                                             Profit
Region  Product Sub-Category
Central Bookcases                     -21335.457824
        Tables                        -17254.610833
        Scissors, Rulers and Trimmers  -4027.198960
        Storage & Organization          -234.258180

8. Which Manufacturer (based on a hypothetical 'Manufacturer' column) has the highest total loss?

In [121]:
df.head(100)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.56000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.64000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.51000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.20230,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,24532,Critical,0.05,4.98,4.70,33,Ricky Hensley,Regular Air,Corporate,Office Supplies,Paper,Small Box,Staples Copy Paper (20Lb. and 84 Bright),0.38,West,Oregon,Gresham,97030,2013-08-16,2013-08-18,-14.99264,9,46.63,89208
96,25223,Not Specified,0.00,6783.02,24.49,35,Milton Bland,Regular Air,Small Business,Technology,Office Machines,Large Box,Polycom ViewStation™ ISDN Videoconferencing Unit,0.39,West,Oregon,Gresham,97030,2012-11-27,2012-11-28,2396.87958,3,21366.51,91256
97,21026,Low,0.07,65.99,3.99,35,Milton Bland,Regular Air,Small Business,Technology,Telephones and Communication,Small Box,StarTAC 7760,0.59,West,Oregon,Gresham,97030,2013-05-28,2013-06-02,165.50100,7,394.37,91257
98,25224,Not Specified,0.02,9.27,4.39,36,Ray Morgan,Express Air,Small Business,Office Supplies,Paper,Wrap Bag,"Wirebound Message Books, Four 2 3/4"" x 5"" Form...",0.38,West,Oregon,Hillsboro,97123,2012-11-27,2012-11-29,71.43400,29,272.98,91256
99,25225,Not Specified,0.03,6.68,6.15,36,Ray Morgan,Regular Air,Small Business,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Oregon,Hillsboro,97123,2012-11-27,2012-11-29,5.65000,10,73.81,91256

In [104]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

9. Find the average loss per product in the West Region.

In [105]:
WestRegion = df[df['Region'] == 'West']
df9 = WestRegion[['Region','Profit','Product Name']].groupby(['Region','Product Name']).mean().sort_values('Profit', ascending = True)
df9

                                                                Profit
Region Product Name
West   Polycom ViewStation™ ISDN Videoconferencing Unit   -8892.529782
       Okidata Pacemark 4410N Wide Format Dot Matrix P... -6623.862972
       Epson DFX-8500 Dot Matrix Printer                  -5520.626064
       Canon imageCLASS 2200 Advanced Copier              -4425.424800
       Epson DFX5000+ Dot Matrix Printer                  -2561.323500
...                                                                ...
       Canon Imageclass D680 Copier / Fax                  5217.267000
       Canon PC1080F Personal Copier                       5371.974070
       Hoover Commercial Lightweight Upright Vacuum wi...  5466.393900
       Polycom ViaVideo™ Desktop Video Communications ...  8118.891900
       Epson LQ-870 Dot Matrix Printer                     8202.568200

[995 rows x 1 columns]

10. Identify the Segment with the highest average loss per order.

In [108]:
df10 = df[['Profit','Customer Segment']].groupby('Customer Segment').mean().sort_values(by = 'Profit', ascending = True)
df10

                      Profit
Customer Segment
Consumer          109.059992
Home Office       122.568892
Corporate         149.789223
Small Business    171.903635

11. What is the total loss for each Region and Segment combination?

In [113]:
df11 = df[['Region','Customer Segment','Profit']].groupby(['Region','Customer Segment']).sum().sort_values(by = 'Profit', ascending = True)
df11

                                 Profit
Region  Customer Segment
South   Small Business     14363.886041
        Corporate          23243.273461
        Consumer           26557.871727
West    Home Office        29201.063867
South   Home Office        40036.161191
West    Consumer           54546.560074
East    Consumer           61174.065886
Central Consumer           64281.127662
East    Home Office        78401.557238
        Small Business     93124.405984
West    Small Business     99798.817126
Central Small Business    109187.483331
West    Corporate         127303.012830
Central Home Office       136230.771518
East    Corporate         144866.156936
Central Corporate         210126.184556

12. Which Category has the highest average loss per sale in the East Region?

In [119]:
EastRegion = df[df['Region'] == 'East']
df12 = EastRegion[['Region','Sales','Product Category']].groupby(['Region','Product Category']).mean().sort_values(by = 'Sales', ascending = True)
df12

                               Sales
Region Product Category
East   Office Supplies    559.307060
       Technology        1574.912342
       Furniture         1803.889896

13. Find the loss-making products that have been ordered more than 5 times.

In [124]:
orderedmorethanfivetimes = df[df['Quantity ordered new']>5]
df13 = orderedmorethanfivetimes[['Profit','Product Name','Quantity ordered new']].groupby(['Product Name','Quantity ordered new']).sum().sort_values(by = 'Profit', ascending = True)
df13

                                                                               Profit
Product Name                                       Quantity ordered new
5165                                               10                   -15434.330800
SAFCO PlanMaster Heigh-Adjustable Drafting Tabl... 14                    -6474.654000
Fellowes Strictly Business® Drawer File, Letter... 11                    -5972.523900
KI Conference Tables                               16                    -5193.737856
Bush Westfield Collection Bookcases, Dark Cherr... 8                     -4645.332400
...                                                                               ...
Fellowes PB500 Electric Punch Plastic Comb Bind... 14                    12504.904500
Global Troy™ Executive Leather Low-Back Tilter     12                    12675.803700
Canon PC1080F Personal Copier                      21                    12856.371640
Sanyo 2.5 Cubic Foot Mid-Size Office Refrigerators 15                    16332.414000
Global Troy™ Executive Leather Low-Back Tilter     14                    19732.093300

[5986 rows x 1 columns]

14. Determine the month and year with the highest total loss

In [142]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month
dt = df[['Month','Year','Profit']].groupby(['Month','Year']).sum('Profit').sort_values(by = 'Profit', ascending = True).head()
dt

                  Profit
Month Year
3     2010 -30364.881147
1     2010  -7379.431890
3     2011  -6214.790057
2     2011  -5231.328296
4     2010   4868.735154

In [139]:
df14 = df[['Product Name','Year','Month','Profit']].groupby(['Product Name','Year','Month']).sum().sort_values(by = 'Profit', ascending = True)
df14

                                                                     Profit
Product Name                                       Year Month
Epson DFX-8500 Dot Matrix Printer                  2013 4     -16743.532800
5165                                               2010 3     -16375.348000
Large Capacity Hanging Post Binders                2012 5     -14369.123580
Polycom ViewStation™ ISDN Videoconferencing Unit   2010 3     -14136.591600
                                                        10    -13562.637408
...                                                                     ...
Global Troy™ Executive Leather Low-Back Tilter     2013 1      11806.736400
Fellowes PB500 Electric Punch Plastic Comb Bind... 2013 11     12504.904500
Hewlett-Packard cp1700 [D, PS] Series Color Ink... 2013 10     15278.332800
Sanyo 2.5 Cubic Foot Mid-Size Office Refrigerators 2012 10     16332.414000
Fellowes PB500 Electric Punch Plastic Comb Bind... 2010 10     17117.913300

[7838 rows x 1 columns]

15. Identify the top 3 loss-making products that have the highest discount applied.

In [128]:
df15 = df[['Product Name', 'Profit']].groupby('Product Name').sum().reset_index()
df15

                                           Product Name       Profit
0     "While you Were Out" Message Book, One Form pe...   708.820800
1                         #10 Self-Seal White Envelopes   223.197520
2            #10 White Business Envelopes,4 1/8 x 9 1/2  1164.001460
3               #10- 4 1/8" x 9 1/2" Recycled Envelopes  -888.757800
4          #10- 4 1/8" x 9 1/2" Security-Tint Envelopes -1288.400800
...                                                 ...          ...
1258                                           i500plus   808.244640
1259                                               i600  -525.934816
1260                                          iDEN i550  2624.076000
1261                                           iDEN i95  -371.274704
1262                                           iDENi80s  -471.229440

[1263 rows x 2 columns]

In [136]:
df150 = df[['Product Name','Discount']]
df_merge = pd.merge(df15,df150, on = 'Product Name')
result = df_merge[df_merge['Profit']< 0].sort_values(by = 'Discount', ascending = False).head(3)
result

,Product Name,Profit,Discount
5290,"Lesro Sheffield Collection Coffee Table, End T...",-14874.638164,0.25
7970,Tensor Computer Mounted Lamp,-412.587600,0.17
2804,DAX Wood Document Frame.,-292.834300,0.16

In [127]:
df15 = df[['Product Name','Profit','Discount']].groupby('Product Name').sum().sort_values(by = ['Profit','Discount'], ascending = [True,False])
df15.head(3)

                                                          Profit  Discount
Product Name
Okidata Pacemark 4410N Wide Format Dot Matrix P... -39743.177832      0.30
Polycom ViewStation™ ISDN Videoconferencing Unit   -36446.423528      0.35
Epson DFX-8500 Dot Matrix Printer                  -29557.665792      0.39